main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100vh; */
  /* width: 100vw; */
  background-color: #eefcfc;
}

.dropzone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 800px;
  background-color: rgb(118, 173, 218);
  /* border: dashed 1px rgb(180, 221, 255); */
  border-radius: 4px;
  padding: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 1rem;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.2);
}

.dropzone-container:hover {
  background-color: rgb(86, 154, 209);
}

.dropzone-label {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  /* padding: 2rem; */
  height: 60%;
  width: 80%;
  border: 5px dotted rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}
.dropzone-active {
  background-color: rgb(61, 201, 168);
  border-color: #078e8e;
}
.dropzone-active > .dropzone-label {
  border-style: solid;
}

.log-box {
  margin-top: 1rem;
  width: 800px;
  height: 22rem;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 0 1rem;
  font-family: monospace;
  background-color: #222;
  color: #5dfe7c;
  overflow-y: auto;
}
