body {
  height: 100dvh;
}
main {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 100%;
  height: 100%;
  padding-bottom: 20rem;
  /* height: 100vh; */
  /* width: 100vw; */
  /* background-color: #eefcfc; */
}

.dropzone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  max-width: 800px;
  background-color: rgb(118, 173, 218);
  /* border: dashed 1px rgb(180, 221, 255); */
  border-radius: 4px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 1rem;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.2);
}

.dropzone-container:hover {
  background-color: rgb(86, 154, 209);
}

.dropzone-label {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding: 2rem;
  height: 60%;
  min-width: 80%;
  border: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
.dropzone-active {
  background-color: rgb(61, 201, 168);
  border-color: #078e8e;
}
.dropzone-active > .dropzone-label {
  border-style: solid;
}

.log-box {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 1rem;
  width: 100%;
  height: 24rem;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
}

.log-box--small {
  height: 8rem;
}

.log-box--buttons {
  position: fixed;
  right: 1.2rem;
  /* top: 0; */
}
.log-box--button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  margin: 2px;
}

.log-box p:before {
  content: "$ ";
}
.log-box p:last-child::after {
  content: "";
  border-left: 8px solid #fafafa;
  animation: blink 1s infinite;
}

.log-box.loading p:last-child::after {
  content: "-";
  border-left: none;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    content: "-";
  }
  25% {
    content: "\\";
  }
  50% {
    content: "|";
  }
  75% {
    content: "/";
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.cl-internal-1emr5w1 {
  /* font-family: WienerMelange; */
  font-size: 1.5rem;
  width: 340px;
  padding: 3rem;
}
.cl-internal-1emr5w1 button {
  /* background: #111; */
}
.cl-internal-18aek0g {
  display: none;
}
.cl-internal-b3fm6y {
  display: none;
}
