---
title: Eigenschaften von Berichten
permalink: /{{ page | parentSlug }}/{{ title | strToSlug }}/index.html
hide_nav: true
---
<p>Bericht ist in der öffentlichen Verwaltung die Mitteilung von einer nachgeordneten an eine vorgesetzte (übergeordnete) Behörde.<a href="#footnote" class="wm-footnote js-heading-anker footnote-id-1"></a></p>
<p>Was zeichnet Berichte aus? Sie haben</p>
<ul>
    <li>
        <p class="Listenabsatz">
            viele Seiten
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            viele Jahrgänge (jedes Jahr wieder…)
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            viel Aufwand erfordert
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            eine vergleichsweise kleine Leserschaft
        </p>
    </li>
</ul>
<p>Sie sind für ihre Herausgeber*innen meist von großer Bedeutung. Oft bestehen auch Veröffentlichungspflichten.</p>
<p>Eine ungünstige Konstellation aus Sicht der Produktion:</p>
<p>Rechnet man für eine HTML-Seite mit Bild und sauberer Auszeichnung 15 Minuten für die CMS-Produktion und nimmt einen Bericht mit 400 Seiten (was durchaus vorkommt), arbeiten zwei Personen rund eine Arbeitswoche, bis der Bericht veröffentlicht ist. </p>
<div class="js-wm-footnotes rich-text" id="footnote">
  <h4>Fußnoten</h4>
  <span hidden id="footnote-back">Zurück zu Referenz</span>
  <ol><li><p class="Funotentext"><a href="https://de.wikipedia.org/wiki/Bericht_(Verwaltung)">https://de.wikipedia.org/wiki/Bericht_(Verwaltung)</a></p></li></ol></div>