---
title: Eigenschaften des Frameworks
permalink: /{{ page | parentSlug }}/{{ title | strToSlug }}/index.html
hide_nav: true
---
<p>Was zeichnet die mit dem Berichte-Framework generierten Auftritte aus?</p>
<ul>
    <li>
        <p class="Listenabsatz">
            Webauftritt in standardkonformem HTML und CSS
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Responsives Design: Anpassung auch an kleine Bildschirme
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Entspricht dem aktuellen Corporate Design der Stadt Wien
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Barrierefreie Umsetzung möglich
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Startseite mit verlinktem Inhaltsverzeichnis
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Pro Kapitel wird eine eigene Seite angelegt
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Unterkapitel werden zu Ankerlinks. So kann etwa auf bestimmte Passagen im Bericht auch von außen verlinkt werden.
            <a href="https://www.wien.gv.at/regierungsabkommen2020/gesundheitsmetropole-wien/digitalisierung-im-gesundheitswesen/">
                Beispiel
            </a>
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Fußnoten sind möglich
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Suchfunktion
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Dynamische ViennaViz-Grafiken können integriert werden.
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            PDF-Version
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Hochperformant
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Minimale Zusatzaufwände in der Erzeugung der HTML-Version
        </p>
    </li>
</ul>
