---
title: Wie kommt der Bericht ins Netz?
permalink: /{{ page | parentSlug }}/{{ title | strToSlug }}/index.html
hide_nav: false
image1:
  src: /images/image3.jpeg
  link: /images/image3.jpeg
  alt: ""
  attributes:
    width: 1280
    height: 600
---
{% from "components/image/image.njk" import image with context %}
<h2 id="hxuzswrsfi">Ablauf</h2>
{{ image(image1) }}
<p>Für die Erstellung eines Berichts sind folgende Schritte zu gehen:</p>
<ul>
    <li>
        <p class="Listenabsatz">
            Erstellung des Berichts in Word durch die fachlich zuständigen Kolleg:innen auf Basis der Dokumentenvorlage für Berichte (steht zur Verfügung)
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Erstellung oder Auswahl eines Cover-Bilds in webtauglichem Breitformat
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Übergabe des Word-Dokuments und des Covers an die PID-Redaktion
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Qualitätssicherung und Automatische Generierung der Webversion durch den PID
        </p>
    </li>
</ul>
<h2 id="lpesjbijap">Arbeitsteilung und benötigte Skills</h2>
<p>Für einen optimalen Workflow ist es lediglich notwendig, sauber mit der Vorlage zu arbeiten. D. h. es sollten nur die Formatvorlagen verwendet werden, die in der Dokumentenvorlage enthalten sind. Folgende Skills in Word werden benötigt:</p>
<ul>
    <li>
        <p class="Listenabsatz">
            Arbeiten mit Formatvorlagen (Absatzvorlagen, Zeichenvorlagen und Tabellenvorlagen)
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Einfügen von Bildern in webtauglicher Auflösung
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Eingabe von Alternativ-Texten für Bilder zwecks Barrierefreiheit
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Grundlegendes Verständnis barrierefreier Überschriften-Struktur (Überschriften-Stufen dürfen nicht übersprungen werden, z.B. muss auf eine „Überschrift“ eine „Überschrift 2“ folgen (und erst dann eine „Überschrift 3“)
        </p>
    </li>
</ul>
<p>Programmierkenntnisse sind nicht erforderlich. Es muss jedoch sauber mit der Vorlage gearbeitet werden. Eine ausführliche Anleitung ist vorhanden.</p>
