---
title: Technische Eigenschaften
permalink: /{{ page | parentSlug }}/{{ title | strToSlug }}/index.html
hide_nav: true
---
<ul>
    <li>
        <p class="Listenabsatz">
            Basierend auf Open Source-Lösungen (D3js.org, Node.js, PostgreSQL)
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Template-Engine: Eleventy Static Site Generator
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Editor: Webbasierter Editor umgesetzt mittels JavaScript-Framework
        </p>
    </li>
    <li>
        <p class="Listenabsatz">
            Embedding-Funktion: Bildgrafik kann mit Embedding-Link hinterlegt werden. z. B. für Charts, künftig auch für Videos.
        </p>
    </li>
</ul>
