---
title: Ansprechpartner
permalink: /{{ page | parentSlug }}/{{ title | strToSlug }}/index.html
hide_nav: true
---
<p><b>Magistratsabteilung 53</b></p>
<p><b>Presse- und Informationsdienst </b>E-Mail:<a href="mailto:redaktion@wien.gv.at">redaktion@wien.gv.at</a></p>

