---
title: Naturschutzbericht 2020
permalink: /{{ page | parentSlug }}/{{ title | strToSlug }}/index.html
hide_nav: true
---
<p>… und in Kürze wird der Naturschutzbericht der Stadt Wien für das Jahr 2020 online gehen. Work in progress ...</p>
